body {
   color: rgb(226, 215, 215);
   background-color: rgb(67, 71, 71);
   font-family: monaco, Consolas, Lucida Console, monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
   font-size: 16px;
   min-width: 600px;
}

h3 {
   text-align: center;
   font-size: 32px;
}

#bottom {
   text-align: center;
}

.hidden {
   display: none;
}

.show {
   display: inline;
}


.choice {
   height: 50%;
   width: 50%;
}

.choiceComputer {
   height: 50%;
   width: 50%;
}

.choice:hover {
   filter: invert(55%) sepia(23%) saturate(7274%) hue-rotate(160deg) brightness(93%) contrast(101%) !important;
}

.controls {
   margin: auto;
   padding: 60px;
   height: 200px;
   display: flex;
}

.push {
   margin-left: auto;
}

button {
   background-color: #4c56af;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 25px 2px;
   cursor: pointer;
}